<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Nota Pembelian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tampil Input :</div>
        <hr>
        <tr>
            <th>Nama Buah : </th><td th:text="${buah}"></td></br>
            <th>Harga : </th><td th:text="${harga}"></td></br>
            <th>Jumlah : </th><td th:text="${jumlah beli}"></td></br>
            <th>Tunai Awal : </th><td th:text="${tunai awal}"></td></br>
            <th>Total : </th><td th:text="${total}"></td></br>
            <th>Disscount : </th><td th:text="${disscount}"></td></br>
        </tr>
        </table>
    </body>
</html>
